.DS_Store
/.build
build
/Packages
xcuserdata/
!BetterTG.xcodeproj/project.xcworkspace/xcshareddata/
BetterTG.xcodeproj/project.xcworkspace/xcshareddata/*
!BetterTG.xcodeproj/project.xcworkspace/xcshareddata/xcschemes/
DerivedData/
contents.xcworkspacedata
*.resolved
Secret.swift
StringExtension.swift
BetterTG.app
BetterTG.dmg
dmgsrc/
*.generated.swift
String+Td.swift
.idea
.vscode
