<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BetterTG Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BetterTG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF1F88DD290D6CC0004DB50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1F88F3290D7AC3004DB50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF4B997D28C3F3F50087C1B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFBB1D80290D6B8300CE7BB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
